<h1>su create users</h1>


<%= link "New Staff", to: user_path(@conn, :new, user_type: "new_staff"), class: "" %>
<%= link "New Service User", to: user_path(@conn, :new, user_type: "new_service_user"), class: "" %>
<%= link "New Carer", to: user_path(@conn, :new, user_type: "new_carer"), class: "" %>
