<h3 class="tc normal mb3 b dark-blue">New Medication Notes</h3>

<img src="/images/pill-bottle.png" alt="a graphic of a screw-top bottle of medicine"
     class="mw-100 w-30 db center">

<%= render "form.html", changeset: @changeset,
    action: user_medication_path(@conn, :create, @user) %>
