<%= if Map.get(@map, @key) do %>
  <%= select @map, @key, Healthlocker.ComponentView.get_options("out_of_10"), selected: Map.get(@map, @key),
    class: "pa3 input-reset bn hl-bg-grey w-100 " %>
<% else %>
  <%= select @map, @key, Healthlocker.ComponentView.get_options("out_of_10"), prompt: "",
    class: "pa3 input-reset bn hl-bg-grey w-100 " %>
<% end %>
