<h3 class="tc normal mb5 b dark-blue">Edit Service User</h3>

<%= render "form.html",
  conn: @conn,
  user: @user,
  clinicians: @clinicians,
  teachers: @teachers,
  action: user_clinician_path(@conn, :update, @user, "1"),
  method: :put
%>
