<h3 class="tc normal mb5 b dark-blue">Add Service User</h3>

<%= render "form.html", changeset: @changeset, user: @user, clinicians: @clinicians,
    action: user_clinician_path(@conn, :create, @user)%>
