<%= case @user.role do %>
  <% "service_user" -> %>
    <%= render Healthlocker.OxleasAdhd.Caseload.UserView, "menu.html", assigns %>
  <% "teacher" -> %>
    <%= render Healthlocker.OxleasAdhd.Caseload.UserView, "teacher_menu.html", assigns %>
  <% _ -> %>
    <%= render Healthlocker.OxleasAdhd.Caseload.UserView, "carer_menu.html", assigns %>
<% end %>
<%= render Healthlocker.RoomView, "_room.html", assigns %>
